NODE_ENV=development

PORT=5000
MONGODB_URI=mongodb+srv://kholakhalid6229_db_user:22lfn5KUrzOetgkA@skillbridge.rzzp51o.mongodb.net/?appName=SkillBridge
JWT_SECRET= 23e10c9e6b96aa57a98bec13ad24367d8ffe7dd6691bde71322597b41791d781
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000/api